body {
         font-family: 'Be Vietnam Pro', sans-serif;
}

.header{
        width: 50%;
        height: 100px;
        text-align: center;
        margin: auto;
        padding: 30px;
}
.header h1 {
        font-weight: 200;
        background-color: rgb(226, 94, 0);
        color: white;
        border-radius: 30px;
        width: 70%;
        margin: auto;
        padding: 15px;
}
main {
        width: 90%;
        margin:  auto;
}
.add-new-book{
        background-color:rgb(230, 230, 230);
        padding-top: 20px;
        padding-bottom: 40px;
        border-radius: 20px;
}
.add-new-book h3 {
       text-align: center;
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 22px;
}
form {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
}
form .text-input {
        width: 180px;
        height: 30px;
        margin-right: 20px;
        border-radius: 10px;
        border: none;
        background-color: whitesmoke;
}
form label {
        margin-right: 5px;
}
form input {
        padding: 15px;
}
.submit-button {
width: 100px;
height: 35px;
padding: 0px;
margin-left: 10px;
align-items: center;
border-radius: 10px;
border: none;
background-color: rgb(224, 99, 11);
color: white;
font-family: 'Be Vietnam Pro', sans-serif;
}
.book-list-background {
        margin-top: 70px;
}
.list-headings{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
}
.list-headings li {
        width: 250px;
        text-align: center;
        background-color: rgb(233, 233, 233);
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
        color: rgb(83, 83, 83);
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 800;
}

.book-list{
display: flex;
justify-content: center;
align-items: center;
list-style: none;
margin: auto;
border-bottom: 1px solid rgba(195, 92, 52, 0.45);
}
.book-list li {
        width: 250px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
}
.book-list i{
        font-size: 20px
}
a {
        text-decoration: none;
        color: black;
        font-weight: 400;
}

/* SINGLE BOOK PAGE */


.single-book-background {
        width: 450px;
        margin: auto;
        display: block;
        background-color: rgb(200, 200, 200);
        border-radius: 30px;
        margin-top: 70px;
        border: 3px rgb(207, 207, 207) solid;

}
.single-book-header {
        text-align: center;

}
.single-book-header h1{
        font-size: 25px;
        width: 80%;
        margin: auto;
        margin-top: 30px;
}
.book-details {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        height: 300px;
        list-style: none;
}
.book-details span {
        margin-left: 70px;
}
.book-details li {
        font-size: 20px;
        margin: 10px;
}
.button{
        display: block;
        margin: auto;
        width: 80px;
        height: 50px;
        font-size: 20px;
        color:rgb(226, 94, 0);
        background-color: ghostwhite;
        border: none;
        border-radius: 10px;
        margin-bottom: 30px;
}
.button:hover{
        border: 1px black solid;
        cursor: pointer;
        
}