<html>
	<head>
		<link rel="stylesheet" href="/static/style.css" />
		<script
			src="https://kit.fontawesome.com/2567eb5e72.js"
			crossorigin="anonymous"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap"
			rel="stylesheet"
		/>
		<title>CodeClan Library</title>
	</head>
	<body>
		<header class="header">
			<h1>CodeClan Library</h1>
		</header>
		<main>
			<div class="add-new-book">
				<h3>Add a New Book</h3>
				<form action="/" method="post">
					<label for="title">Title</label>
					<input
						class="text-input"
						type="text"
						name="title"						
                                                placeholder="Insert Book Title"
						required
					/>
					<label for="author">Author</label>
					<input
						class="text-input"
						type="text"
						name="author"
						placeholder="Insert Name of Author"
						required
					/>
					<label for="genre">Genre</label>
					<input
						class="text-input"
						type="text"
						name="genre"
						placeholder="Insert Book Genre"
						required
					/>
					<label for="'checked">Currently Available?</label>
					<label for="available">Yes</label>
					<input type="radio" value="checked" name="available" />
					<label for="available">No</label>
					<input type="radio" value="not_checked" name="available" />
					<input class="submit-button" type="submit" value="Add Book" />
				</form>
			</div>
			<div class="book-list-background">
				<ul class="list-headings">
					<li>Title</li>
					<li>Author</li>
					<li>Genre</li>
					<li>Available</li>
					<li>Remove Book</li>
				</ul>
				{% for book in books %}
					<ul class="book-list">
                                                <a href="/single_book/{{loop.index-1}}">
						<li>{{ book.title }}</li></a>
                                                <a href="/single_book/{{loop.index-1}}">
						<li>{{ book.author }}</li></a>
                                                <a href="/single_book/{{loop.index-1}}">
						<li>{{ book.genre }}</li></a>
						<li><a href="/single_book/{{loop.index-1}}">
							{% if book.available == True %}<span
								><i class="fa-regular fa-circle-check"></i></span
							>{% else %}<span></span>{% endif %}
						</li></a>
                                                <li>
                                                <form action="/delete/{{loop.index-1}}" method="post">
                                                <input type="submit" class="remove-book" name="remove" value="X">
                                                </form></li>
					</ul>
				</a>
				{% endfor %}
			</div>
		</main>
	</body>
</html>
